.App-logo {
  height: 50px;
  display: inline-block;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.textbox{
  width: 50%;
  height: 300px;
  border: 1px solid grey;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
}

.startRecording {
  display: block;
  margin: 0 auto;
  font-size: 2em;
  padding-bottom: 5px;
  border-radius: 10%;
  background-color: white;
  border: 1px solid grey;
}

.stopRecording {
  display: block;
  margin: 0 auto;
  font-size: 2em;
  padding-bottom: 5px;
  border-radius: 10%;
  background-color: white;
  border: 1px solid grey;
}


